* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    display:block;
}

.hero {
    margin-inline: auto;
    position: relative;
    margin-bottom: 64px;
}

.hero-content {
    position: absolute;
    bottom: 20%;
    left: 6%;
}

.hero-content-box {
    padding: 20px 24px;
    background-color: #fff;
    margin-block: 8px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.hero-text {
    color: #3c3c3c;
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.left-border-blue {
    border-left: 7.735px solid #265787;
}

.left-border-red {
    border-left: 7.735px solid #de6262;
}

.left-border-yellow {
    border-left: 7.735px solid #ffb901;
}

.about {
    text-align: center;
    color: #3b3b3b;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
    margin-bottom: 64px;
}

.about-highlited-text {
    color: #1eafde;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
}

main{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.about-text {
    display: inline-block;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.features-options {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.section-box {
    margin-bottom: 31px;
    text-align: center;
}

.section-heading {
    color: #494949;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.section-heading-description {
color: #A3A3A3;
text-align: center;
font-family: "Myriad Pro";
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 31px;
}

.features-list {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.feature-title {
    color: #545454;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.feature-description {
    color: #939393;
    text-align: justify;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Font-lineheight_body, 18px);
}

.feature img {
    margin-bottom: 16px;
}

.blog-posts {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
}

.gallery-items {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.first-client-logo {
    width: 147px;
height: 49px;
flex-shrink: 0;
}

.second-client-logo{
    width: 113px;
    height: 160px;
    flex-shrink: 0;
}

.third-client-logo {
    width: 158px;
    height: 64px;
    flex-shrink: 0;
}

.fourth-client-logo{
    width: 159px;
    height: 42.7px;
    flex-shrink: 0;
}

.testimonials-logo-box {
    display: flex;
width: 179px;
height: 128px;
padding: 5px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 2px;
background: #F3F3F3;
}

.testimonials-logos {
margin-top: 32px;
display: flex;
height: 128px;
padding: 0px 16px;
align-items: flex-start;
align-content: flex-start;
justify-content: center;
gap: 32px;
flex-wrap: wrap;
}